// This file is only an example. Please delete it before you submit your test.
body {
  font-family: monospace;
  background: black;
  color: white;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
}

table td {
  background-color: #DDD;
  text-align: left;
  padding-left: 2%;
}

table thead td:first-child {
  width: 20%;
}

table thead td:not(:first-child) {
  writing-mode: vertical-lr;
  height: 100px;
  text-align: center;
  padding: 0;
}

.stated {
  background-color: blue;
}
